.introducao-ec {
    background: url('../img/fundo.avif');
}

.introducao-pg {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: center;
    color: #6A6161;
    align-items: center;
}

.introducao-pg h2 {
    font-weight: 100;
}

.escrever-cartas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    margin-bottom: 150px;
    gap: 50px;
}

.texto-escrever h3,
.texto-escrever p {
    margin-bottom: 30px;
}

.texto-escrever h3 {
    margin-top: 20px;
    font-family: 'Alice', serif;
    font-size: 30px;
    color: #6A6161;
}

.texto-escrever p {
    font-family: 'roboto' serif;
    font-size: 15px;
    color: #6A6161;
}

.escrever-botao {
    display: grid;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

/* ANIMAÇÃO */
.intro-pg {
    visibility: hidden;
}


