body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'great vibes', cursive;
  font-size: 90px;
  color: #90514E;
}

h2 {
  font-family: 'great vibes', cursive;
  font-size: 55px;
  font-weight: 300;
  color: #6A6161;
}

h1, h2, h3, h4, ul, p, blockquote, dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: 100%;
  display: block; 
}