.introducao-rc {
    background: url('../img/fundo.avif');
}

.introducao-pg {
    padding: 90px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: center;
    color: #6A6161;
    align-items: center;
}

.introducao-pg h2 {
    margin-bottom: 20px;
}

.receber-cartas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    margin-bottom: 150px;
    gap: 50px;
}

.texto-receber h3,
.texto-receber p {
    margin-bottom: 30px;
}

.texto-receber h3 {
    margin-top: 20px;
    font-family: 'Alice', serif;
    font-size: 30px;
    color: #6A6161;
}

.texto-receber p {
    font-family: 'roboto' serif;
    font-size: 15px;
    color: #6A6161;
}

.receber-botao {
    display: grid;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}